.root {
  // position: absolute;
  height: 100vh;
  // left: 0;
  // top: 0;
  // right: 0;
  // bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 90px;
    height: 38px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.75rem;
    text-align: center;
  }
}
