.root {
  svg {
    display: none;
    stroke: var(--gray-color) !important;
  }

  a {
    font-size: 0.875rem;
    color: var(--gray-color) !important;
  }

  a:hover {
    color: var(--gray-color) !important;
  }

  &.active {
    opacity: 0.4;
    margin-right: 11px;
  }

  &.active svg {
    display: inline-block;
  }
}
