.popper {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 0px rgba(88, 88, 88, 0.06);
  max-width: 320px;
  width: 100%;
}

.btnMore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  cursor: pointer;
  margin-right: 1px;
  transition: 0.2s;

  font-weight: var(--bold-text);
  border: 1px solid #e1e5ed;
  border-radius: 4px;
  background-color: #fff;

  svg {
    position: relative;
    right: 1px;
    fill: var(--links-elements);
  }

  &:hover {
    border-color: var(--links-hover);

    svg {
      fill: var(--blue-color);
    }
  }
}

.btnRename {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  fill: var(--dark-black);

  svg {
    width: 100%;
    height: 100%;
  }
}

.subtitleWrap {
  position: relative;
  display: flex;
}

.subtitle {
  font-size: 12px;
  color: #878787;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & > svg {
    margin: 0px 3px;
  }
}

.DesignGridElement {
  // padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease;
  & > a,
  span {
    height: 150px;
  }
  .check {
    width: 100%;
    height: 100%;
  }

  &:hover {
    .threeDotsHolder {
      display: block;
    }
  }

  .imgWrapper {
    --wrapper-radius: 8px;
    height: 100%;
    transition: 0.2s ease;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    // align-items: center;
    background-color: #f6f6f6;
    padding: 10px 10px 0 10px;
    border-radius: var(--wrapper-radius);
    overflow: hidden;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: content-box;

    &.selected {
      transition: none;
      outline: 2px solid #2469f6;

      &::before {
        position: absolute;
        border: 2px solid #fff;
        inset: 0px;
        content: "";
        border-radius: var(--wrapper-radius);
      }
    }

    .selectWrap {
      position: absolute;
      opacity: 0;
      top: 10px;
      left: 10px;

      &.showSelection {
        opacity: 1;
      }
    }

    &:hover {
      .selectWrap {
        opacity: 1;
      }
    }

    @media screen and (max-width: 1000px) {
      .selectWrap {
        display: none !important;
      }
    }

    .btnMoreWrap {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    // img {
    //   // width: 100%;
    //   max-width: 100%;
    //   max-height: 100%;
    //   object-fit: contain;
    // }
  }

  .text {
    padding: 10px 0px;

    .title {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: var(--bold-text);
      font-size: 0.875rem;
      line-height: 17px;
      margin-bottom: 3px;
      transition: 0.2s;

      &:hover {
        .btnRenameWrap {
          display: block;
        }
      }
    }

    .titleWrap {
      display: inline;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: text;
    }

    .btnRenameWrap {
      position: relative;
      // bottom: 1px;
      display: none;
      flex-shrink: 0;
      margin-left: 1px;
    }

    .category {
      font-size: 0.75rem;
      line-height: 1.3;
      opacity: 0.6;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    .selectWrap,
    .btnMoreWrap {
      display: block;
    }
  }
}

.DesignListElement {
  // max-width: 100%;
  min-width: 0;
  padding: 5px 0;
  display: flex;
  position: relative;
  // justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e1e5ed;

  .selectWrap {
    flex-shrink: 0;
    width: 54px;
    // display: none;
    line-height: 0 !important;
    padding-left: 12px;

    .select {
      line-height: 0 !important;
      position: relative;
      width: 19px;
      height: 19px;
      // border: 1px solid #E1E5ED;
      border-radius: 4px;
      cursor: pointer;
      box-sizing: content-box;
      background-color: var(--success-color);

      // svg {
      //   position: relative;
      //   top: -1px;
      //   line-height: 0 !important;
      //   width: 100%;
      //   height: 100%;
      //   // display: none;
      // }

      // &.active {
      //   // border: none;

      //   svg {
      //     display: block;
      //   }
      // }
    }
  }

  .info {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 40%;
  }

  .btnMoreWrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .imgWrapper {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // background-color: rgba(54, 55, 60, 0.07);
    width: 50px;
    height: 50px;
    margin-right: 25px;
    cursor: pointer;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  .title {
    font-weight: var(--bold-text);
    font-size: 0.875rem;
    line-height: 17px;
    // cursor: pointer;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .category {
    flex: 1;
    width: 30%;
    font-size: 0.75rem;
    line-height: 1.3;
    opacity: 0.6;
  }

  @media screen and (max-width: 800px) {
    // justify-content: space-between;

    .selectWrap {
      width: 40px;
    }

    .category {
      display: none;
    }

    .info {
      width: 80%;
    }
  }
}

.DesignListHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--hover-color);
  height: 38px;
  font-size: 0.75rem;
  line-height: 1.3;

  .selectWrap {
    flex-shrink: 0;
    width: 84px;
  }

  .nameHeader {
    width: 50%;
  }

  @media screen and (max-width: 800px) {
    .selectWrap {
      width: 40px;
    }

    .typeHeader {
      display: none;
    }
  }
}

.threeDotsHolder {
  @media screen and (min-width: 1000px) {
    display: none;
  }

  .dotsBtn {
    position: absolute;
    right: 9px;
    top: 9px;
    padding: 8.5px 3px;
    display: flex;
    border-radius: 6px;
    align-items: center;
    justify-items: center;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    z-index: 1;

    stroke: #cdcdcd;

    svg {
      width: 15px;
    }

    @media screen and (min-width: 1000px) {
      &:hover {
        stroke: #878787;
        border-color: #bdbdbd;
      }
    }

    @media screen and (max-width: 1000px) {
      background-color: rgba(205, 205, 205, 0.7);
      border-color: transparent;
      stroke: #fff;
      padding: 11.6px 5px;

      svg {
        width: 18px;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    &.activeDots {
      display: block;
    }

    .activeDots {
      background-color: #2469f6;
      border-color: transparent;
      stroke: #fff;

      &:hover {
        stroke: #fff;
        background-color: #4c82f4;
        border-color: transparent;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    &:active {
      &::before {
        position: absolute;
        content: "";
        top: 6px;
        right: 6px;
        height: 29px;
        width: 29px;
        background-color: #2469f6;
        opacity: 0.1;
        border-radius: 6px;
        z-index: 1;
      }
    }
  }
}

.threeDotsHolderList {
  width: 50%;
}

.DesignListAdminHeader {
  .selectWrap {
    display: flex;
    justify-content: center;
    width: 70px;
  }

  .previewHeader {
    width: 90px;
  }

  .nameHeader {
  }

  .categoriesHeader {
  }

  .tagsHeader {
  }
}

.dropdownPaper {
  min-height: 512px;
}

.loading {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 65px;
}

.progressClass {
  &.progressClass {
    height: 7px !important;
    background-color: rgba(238, 238, 238, 0.7) !important;
  }
}

.uncheckedCheckbox {
  background-color: #fff !important;
}

.checkbox {
  width: 22px !important;
  height: 22px !important;
}

.daysBeforeDeleted {
  position: absolute;
  bottom: 0;
  height: 40px;
  left: 0;
  right: 0;
  background: linear-gradient(#16181d00, #16181d66);
  color: #fff;
  font-weight: var(--extrabold-text);
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 4px;

  &.expiring {
    color: #e22222;
  }
}
