.gridItem {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 30px;
  cursor: pointer;

  .imageWrapper {
    line-height: 0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      cursor: pointer;
      border-radius: 4px;
    }

    &.selected {
      border-radius: 8px;

      &::after {
        position: absolute;
        inset: 0px;
        border-radius: 8px;
        content: "";
        box-shadow: inset 0px 0px 0px 2px #2469f6,
          inset 0px 0px 0px 4px var(--light-black);
      }
    }
  }

  .selectAction,
  .dropdownAction {
    display: none;
    position: absolute;
    top: 8px;
    z-index: 1;

    transition: opacity 0.25s ease;
    opacity: 0;
    display: flex;

    @media screen and (max-width: 768px) {
      opacity: 1;
    }
  }

  .selectAction {
    left: 8px;
  }

  .dropdownAction {
    right: 8px;
    height: 25px;
    width: 25px;
    background-color: rgba(54, 55, 60, 0.7);
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(54, 55, 60, 0.85);
    }

    &:active {
      background-color: rgba(54, 55, 60, 0.95);
    }
  }

  .visible {
    opacity: 1;
  }

  &:hover {
    .selectAction,
    .dropdownAction {
      display: flex;
      opacity: 1;
    }
  }

  .loading {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    z-index: 1;

    & > * {
      height: 7px;
    }
  }

  .clickOverlay {
    position: absolute;
    inset: 0px;
    z-index: 1;
  }
}

.popperRoot {
  background-color: #fff;
  width: 320px;
  font-size: 14px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    input {
      border: none;
      border-bottom: 1px var(--line-stroke) dashed;
      width: 100%;
    }

    form {
      width: 100%;
    }

    svg {
      display: none;
    }
    &:hover svg {
      display: block;
    }

    &.edit svg {
      display: none;
    }
  }

  .meta {
    padding: 12px 22px;

    & .timeElapsed {
      font-size: 12px;
      margin-top: 0.2rem;

      color: var(--extra-text);
    }
  }
}

.actions {
  padding-top: 8px;
  padding-bottom: 8px;

  display: flex;
  flex-direction: column;

  button {
    text-align: left;
    height: 42px;
    font-size: 14px;

    display: flex;
    align-items: center;

    &:hover {
      background-color: #f6f6f6;
    }

    &:active {
      background-color: #eeeeee;
    }

    svg {
      height: 16px;
      width: 16px;

      margin-right: 16px;
    }
  }
}

.progressClass {
  background-color: rgba(238, 238, 238, 0.7) !important;
}

.xPadding {
  padding-left: 20px;
  padding-right: 20px;
}
