.root {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 32px;

  @media screen and (max-width: 1920px) {
    padding: 0 32px;
  }

  @media screen and (max-width: 480px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 375px) {
    padding: 0 15px;
  }
}
