.item {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  float: left;
  // border-radius: 4px;
  // overflow: hidden;
  // padding: 10px;
  transition: 0.2s ease;

  &.blank {
    line-height: 0 !important;

    .imageContainer {
      position: relative;

      .imagePlaceholder {
        opacity: 0;
      }

      .blankPlaceholder {
        position: absolute;
        inset: 0px;
        background-color: #f6f6f6;
        border-radius: 4px;
        transition: 0.1s ease;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-items: center;

        img {
          border: none;
        }
      }
    }

    &:hover .blankPlaceholder {
      background-color: #eeeeee;
    }

    .title {
      padding-top: 15px;
    }
  }

  &:hover img {
    // box-shadow: 0px 6px 10px rgba(40, 41, 54, 0.15);
    transition: 0.2s ease;
  }

  .imgWrapper {
    position: relative;

    img {
      filter: none !important;
    }

    .proBadge {
      position: absolute;
      bottom: 15px;
      right: 10px;
      cursor: pointer;

      width: 23px;
      height: 23px;
      background: linear-gradient(
          0deg,
          rgba(38, 38, 38, 0.5),
          rgba(38, 38, 38, 0.5)
        ),
        linear-gradient(
          0deg,
          rgba(153, 153, 153, 0.6),
          rgba(153, 153, 153, 0.6)
        );

      border-radius: 50%;
      border: 0.5px solid #99999999;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  img {
    display: block;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 4px;
    border: 1px solid #f6f6f6;
  }

  .title {
    font-weight: var(--bold-text);
    font-size: 0.875rem;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin-bottom: 6px; */

    @media screen and (max-width: 1440px) {
      font-size: 0.75rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 0.875rem;
      margin-bottom: 6px;
    }

    @media screen and (max-width: 375px) {
      font-size: 0.75rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .likeWrapper {
      position: absolute;
      // top: 18px;
      // right: 18px;
      top: 8px;
      right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      background: rgba(31, 33, 40, 0.4);
      border-radius: 4px;
      z-index: 100 !important;
      opacity: 0;
      transition: 0.2s ease;
      cursor: pointer;

      svg {
        width: 14px;
        height: 12.5px;
        fill: none;
        stroke: #fff;
        z-index: 90 !important;
      }

      &.liked svg {
        fill: #f05454;
        stroke: #f05454;
      }
    }

    .likeWrapper:hover {
      opacity: 1;
    }

    .likeWrapper:hover svg {
      fill: #f05454;
      stroke: #f05454;
    }

    & .imgWrapper:hover ~ .likeWrapper,
    .title:hover ~ .likeWrapper {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px) {
    .likeWrapper {
      display: none !important;
    }
  }
}

.border {
  border: 1px solid #e0e0e0 !important;
}
