.loadingContainer {
  position: relative;

  &.isLoading {
    &::after {
      position: absolute;
      inset: 0px;
      content: "``";
      background-color: #fff;
      opacity: 0.5;
    }
  }
}
