.hamburger {
  touch-action: manipulation;
  line-height: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-transform: none;
  margin: 0;

  overflow: visible;
  box-sizing: border-box;

  .box {
    svg {
      height: 24px;
      width: 24px;

      @media screen and (max-width: 768px) {
        width: 22px;
        height: 16px;
      }
    }

    &.active svg {
      height: 18px;
      width: 18px;

      @media screen and (max-width: 768px) {
        width: 16px;
        height: 16px;
      }
    }

    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
  }
}

.active {
}
