.root {
  padding: 13px 9px 15px 9px;
  margin-bottom: 40px;
}

.tabs {
  padding-bottom: 5px;
  margin-bottom: 1rem;
  overflow-x: auto;
  display: flex;
  &::-webkit-scrollbar {
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    height: 0;
  }

  .swiperSlide {
    width: fit-content;
  }
}

.tab {
  padding: 10px 12px;
  border-radius: 4px;
  flex-shrink: 0;

  @media screen and (max-width: 1440px) {
    font-size: 0.875rem;
  }

  &:not(:nth-child(1)) {
    margin-left: 10px;
  }

  &:not(.selected) {
    &:hover {
      background-color: #f6f6f6;
    }

    &:active {
      background-color: #eeeeee;
    }
  }

  &.selected {
    font-weight: var(--bold-text);
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      background: var(--black-color);
      height: 2px;
      width: 100%;
      border-radius: 4px 4px 0px 0px;
    }
  }
}

.createBlank {
  display: none;
  background-color: #232327;
  border-radius: 6px;
  position: absolute;
  inset: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: var(--bold-text);

  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1000px) {
    font-size: 14px;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: column;
  overflow-x: none;
  scrollbar-width: none;
  height: 175px;

  @media screen and (max-width: 800px) {
    height: 150px;
  }

  &::-webkit-scrollbar {
    display: none;
    /*chrome*/
  }
  .swiper {
    margin: 0;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 0;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      height: 0;
    }
    .swiperSlide {
      margin: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 180px;

      @media screen and (max-width: 800px) {
        width: 140px;
      }

      cursor: pointer;
      flex-shrink: 0;
      border-radius: 6px;
      overflow: hidden;

      a {
        width: 100%;
        text-align: left;

        &:active {
          .createBlank {
            display: flex;
            background-color: rgba(35, 35, 39, 0.5) !important;
          }
        }
      }

      & .img {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        position: relative;
        line-height: 0;
        min-height: 105px;

        @media screen and (min-width: 800px) {
          min-height: 135px;
        }

        margin-bottom: 6px;
        background-color: var(--hover-color);
        transition: 0.2s ease;
      }

      .moreSvg {
        fill: #000;
        stroke: none;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 6px;
      }
      &:hover .img {
        .createBlank {
          display: flex;
          background-color: rgba(35, 35, 39, 0.4);
        }

        svg {
          stroke: var(--blue-color);
        }

        .moreSvg {
          fill: var(--blue-color);
          stroke: none;
        }
      }

      span {
        font-weight: var(--bold-text);
        font-size: var(--sm);
        line-height: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 0.2s ease;
        display: inline-block;
      }

      .underText {
        opacity: 0;
        transition: 0.2s ease;
        font-size: 11px;
        color: var(--extra-text);
        margin-top: -4px;
        display: flex;
        align-items: center;

        svg {
          margin: 0px 3px;
        }

        @media screen and (max-width: 800px) {
          opacity: 1;
        }
      }

      &:hover .underText {
        opacity: 1;
      }
    }
  }
  .prevSlide,
  .nextSlide {
    display: none;
    top: 30%;
    z-index: 1;
    box-shadow: none;
    transition: 0.2s ease;
    &:hover {
      border: 1px solid var(--extra-text);
    }
    svg {
      stroke: var(--line-stroke);
      width: 100%;
      height: 100%;
      padding: 8.5px 0;
      &:hover {
        stroke: var(--extra-text);
      }
    }
  }
  @media screen and (max-width: 480px) {
    > div {
      padding-right: 0;
    }
  }
}

.swiper {
  margin: 0;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    height: 0;
  }
  .swiperSlide {
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 200px;

    @media screen and (min-width: 800px) {
      width: 140px;
    }

    cursor: pointer;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;

    & .img {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      position: relative;
      line-height: 0;
      min-height: 110px;
      margin-bottom: 6px;
      background-color: var(--hover-color);
      transition: 0.2s ease;
    }

    .moreSvg {
      fill: #000;
      stroke: none;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 4px;
    }
    &:hover .img {
      svg {
        stroke: var(--blue-color);
      }

      .moreSvg {
        fill: var(--blue-color);
        stroke: none;
      }
    }

    span {
      font-weight: 600;
      font-size: var(--sm);
      line-height: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: 0.2s ease;
      display: inline-block;
    }

    .underText {
      opacity: 0;
      transition: 0.2s ease;
      font-size: 11px;
      color: var(--extra-text);
      margin-top: -4px;
      display: flex;
      align-items: center;
    }

    &:hover .underText {
      opacity: 1;
    }
  }
}
.prevSlide,
.nextSlide {
  top: 29%;
  z-index: 1;
  box-shadow: none;
  transition: 0.2s ease;
  &:hover {
    border: 1px solid var(--extra-text);
  }
  svg {
    stroke: var(--line-stroke);
    width: 100%;
    height: 100%;
    padding: 8.5px 0;
    &:hover {
      stroke: var(--extra-text);
    }
  }
}
