.root {
  position: relative;
  font-size: 0.875rem;
  background-color: #fff;

  width: 100%;
  right: 0;
}

.modalRoot {
  position: relative;
  max-width: 526px;
  width: 100%;
}

.content {
  padding: 1.875rem;

  @media (max-width: 500px) {
    padding: 2.125rem 1rem 1.875rem 1rem;
  }

  h2 {
  }

  p {
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    margin-top: 2.5rem;

    font-size: 0.875rem;
    & > button:nth-child(1) {
      margin-right: 1rem;

      @media (max-width: 500px) {
        margin-right: 0px;
        margin-top: 0.625rem;
      }
    }

    @media (max-width: 500px) {
      margin-top: 3.125rem;
      flex-direction: column-reverse;

      button {
        font-size: 14px;
      }
    }
  }
}
