.actions {
  padding-top: 8px;
  padding-bottom: 8px;

  display: flex;
  flex-direction: column;

  button {
    padding-left: 20px;
    padding-right: 20px;

    text-align: left;
    height: 42px;
    font-size: 14px;

    display: flex;
    align-items: center;

    &:hover {
      background-color: #f6f6f6;
    }

    &:active {
      background-color: #eeeeee;
    }

    svg {
      height: 16px;
      width: 16px;

      margin-right: 16px;
    }
  }
}
